<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">

    <i class="fas fa-key fa-6x"></i>
    <%if(user_with_secrets.length){%>
      <h1 class="display-3">You've Discovered Some Secrets!</h1>
    <%}else{%>
      <h1 class="display-3">No Secrets for today!</h1>
    <%}%>


      <%for (var users = 0; users < user_with_secrets.length; users++){%>
        <%for (var posts = 0; posts < user_with_secrets[users].secret.length; posts++){%>
          <p class="secret-text"><%=user_with_secrets[users].secret[posts]%></p>
          <hr>
        <%}%>
      <%}%>

      <%if(login_status){%>
        <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
        <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
      <%}else{%>
        <a class="btn btn-light btn-lg" href="/login" role="button">Log In</a>
      <%}%>

      <!-- <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
      <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a> -->

  </div>
</div>

<%- include('partials/footer') %>
